.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

ul {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 10px;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #1a1a1a;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 20px;
  width: 100%;
}

.form-wrapper input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #1a1a1a;
}
